{% extends "base.html" %}

{% set title='懒达' %}
{% block content %}
    <div class="content-header">
        <img src="https://insorker-bucket.oss-cn-hangzhou.aliyuncs.com/img/blog/22-04-12-3.png"/>
    </div>

    <p class="link-list" style="text-align: center;">
        <a href="/post.html" target="_blank">POST</a>
        <a href="/project.html" target="_blank" style="margin-left: 16px;">PROJECT</a>
        <a href="/about.html" target="_blank" style="margin-left: 16px;">ABOUT</a>
        <a href="/FallingMagic/index.html" target="_blank" style="margin-left: 16px;">↓Sand</a>
        <a href="https://space.bilibili.com/434618849" target="_blank" style="margin-left: 16px;">@BILIBILI</a>
        <a href="https://github.com/insorker" target="_blank" style="margin-left: 16px;">@GITHUB</a>
    </p>
{% endblock %}