{% extends "base.html" %}

{% set title='post' %}
{% block content %}
    <div class="content-header">
        <h1 class="post-title">
            {{ title }} ( ᐛ )( ᐛ )( ᐛ )
        </h1>
        <div class="post-meta">
            <span>{{ author }}</span>
            <span> | updated on {{ date }}</span>
        </div>

        <ul class="link-list">
        {% for post in __info %}
            <li>
                <p>{{ post.date }} |
                    {% if post.top > 0 %}
                        <span style="color:#ec2b24;">[置顶]</span>
                    {% endif %}
                    <a href="{{ post.__url }}">{{ post.title }}</a>
                </p>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}