{% extends "base.html" %}

{% set title='Gallery' %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .brief { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <div class="content-header">
        <div class="post-title">
            {{ title }} ( ᐛ )( ᐛ )( ᐛ )
        </div>
        <div class="post-meta">
            <span>{{ author }}</span>
            <span> | Updated on {{ date }}</span>
        </div>

        <ul>
        {% for post in __posts %}
            <li><p>{{ post.date }}  |  <a href="{{ post.__url }}">{{ post.title }}</a></p></li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}