{% extends "base.html" %}

{% set title='懒达' %}
{% block content %}
    <div class="content-header">
        <div class="post-title">
            {{ title }} の Homepage
        </div>
        <div class="post-meta">
            <span>Welcome to {{ title }} の homepage.</span>
            <br />
            <span>Powered by: <a href="https://github.com/insorker/yori">yori</a></span>
            <br />
            <span>Example: <a href="https://insorker.github.io">insorker.github.io/</a></span>
        </div>
    </div>

    <ul>
    {% for link in __links %}
        <li><p><a href="{{ link.url }}">{{ link.name }}</a></p></li>
    {% endfor %}
    </ul>
{% endblock %}