{% extends "base.html" %}

{% block head %}
{{ super() }}
    <link rel="stylesheet" href="/css/github-markdown.min.css">
    <link rel="stylesheet" href="/css/github.min.css">
    <link rel="stylesheet" href="https://jjeejj.github.io/css/gitment.css">
    <style type="text/css">
        .markdown-body {
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin: 0 auto;
            padding: 45px;
        }

        @media (max-width: 767px) {
            .markdown-body {
                padding: 15px;
            }
        }
    </style>
{% endblock%}

{% block script %}
{{ super() }}
    <script src="/js/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="https://www.wenjunjiang.win/js/gitment.js"></script>
    <script>
        var gitment = new Gitment({
            id: {{ __identification }},
            owner: 'insorker',
            repo: 'insorker.github.io',
            oauth: {
                client_id: '1c8b8a648872fb4b06e5',
                client_secret: 'e7aa56cb8653e89050195484e973f5de0cb46781',
            },
        })
        gitment.render('comment')
    </script>
{% endblock %}