{% extends "base.html" %}

{% set title='Projects' %}
{% block content %}
    <div class="content-header">
        <div class="post-title">
            {{ title }}
        </div>
        <div class="post-meta">
            <span>{{ author }}</span>
            <span> | Updated on {{ date }}</span>
        </div>

        <div class>
            <p>To your valor, and my old friend Yorn!
                <br /> Long may the sun shine!</p>
        </div>

        <div>
        {% for project in __projects %}
            <div class="card">
                {{ project.__content }}
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}