{% extends "base.html" %}

{% set title='Gallery' %}
{% block content %}
    <div class="content-header">
        <div class="post-title">
            {{ title }} ( ᐛ )( ᐛ )( ᐛ )
        </div>
        <div class="post-meta">
            <span>{{ author }}</span>
            <span> | updated on {{ date }}</span>
        </div>

        <ul>
        {% for slide in __slides %}
            <li><p>{{ slide.date }}  |  <a href="{{ slide.__url }}">{{ slide.title }}</a></p></li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}