{% extends "base.html" %}

{% set title='Wiki' %}
{% block content %}
    <div class="content-header">
        <div class="post-title">
            {{ title }} RTFM
        </div>
        <div class="post-meta">
            <span>{{ author }}</span>
            <span> | updated on {{ date }}</span>
        </div>

        <ul class="link-list">
        {% for wiki in __wikis %}
            <li><p><a href="{{ wiki.__url }}">{{ wiki.title }}</a></p></li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}